.overview-today {
  padding-right: 10px;
  padding-left: 10px; }
  .overview-today h2 {
    font-weight: bold;
    color: #63687e;
    padding-bottom: 10px; }
  .overview-today .card-information {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .overview-today .card-information .information-media {
      width: 90%;
      padding: 20px;
      background-color: #f0f2fa;
      border-radius: 5px;
      margin: 5px; }
      .overview-today .card-information .information-media .social-media {
        display: flex;
        justify-content: space-between; }
        .overview-today .card-information .information-media .social-media h3 {
          color: #63687e;
          font-size: medium; }
      .overview-today .card-information .information-media .counter-and-percent {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between; }
        .overview-today .card-information .information-media .counter-and-percent .counter {
          font-size: xx-large;
          font-weight: bold; }
        .overview-today .card-information .information-media .counter-and-percent .triangle-and-percent {
          display: flex;
          margin-top: 10px; }
          .overview-today .card-information .information-media .counter-and-percent .triangle-and-percent .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 7px 7px 7px;
            border-color: transparent transparent #1db489 transparent;
            margin-right: 5px; }
          .overview-today .card-information .information-media .counter-and-percent .triangle-and-percent .percent {
            font-weight: bold;
            color: #1db489;
            font-size: small; }
