body {
  font-family: "Inter", sans-serif;
  background-color: white; }
  body h1, body p, body h2, body h3, body button {
    margin: 0;
    padding: 0; }

.social-media-dashboard {
  padding: 15px;
  color: #1e202a; }
  .social-media-dashboard header h1 {
    font-size: x-large;
    padding-bottom: 5px; }
  .social-media-dashboard header p {
    color: #63687e;
    font-weight: bold;
    padding-bottom: 20px; }
  .social-media-dashboard header .line {
    width: 330px;
    height: 1px;
    background-color: #63687e;
    margin-bottom: 10px; }
  .social-media-dashboard header .switcher {
    display: flex;
    justify-content: space-between; }
    .social-media-dashboard header .switcher h3 {
      color: #63687e;
      font-size: small; }
    .social-media-dashboard header .switcher button {
      width: 50px;
      border: none; }
  .social-media-dashboard .card {
    position: relative;
    margin: 20px 0;
    padding: 25px;
    background-color: #f0f2fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    border-radius: 5px; }
    .social-media-dashboard .card .primary-color-1 {
      width: 100%;
      height: 4px;
      background-color: #198ff5;
      position: absolute;
      border-radius: 5px 5px 0 0;
      top: 0; }
    .social-media-dashboard .card .primary-color-2 {
      width: 100%;
      height: 4px;
      background-color: #1ca0f2;
      position: absolute;
      border-radius: 5px 5px 0 0;
      top: 0; }
    .social-media-dashboard .card .primary-color-3 {
      width: 100%;
      height: 4px;
      background-color: #df4996;
      position: absolute;
      border-radius: 5px 5px 0 0;
      top: 0; }
    .social-media-dashboard .card .primary-color-4 {
      width: 100%;
      height: 4px;
      background-color: #c4032a;
      position: absolute;
      border-radius: 5px 5px 0 0;
      top: 0; }
    .social-media-dashboard .card .name-and-media {
      display: flex;
      padding: 15px; }
      .social-media-dashboard .card .name-and-media img {
        width: 20px;
        height: 20px;
        margin: 0 5px; }
      .social-media-dashboard .card .name-and-media h3 {
        font-size: 14px;
        color: #63687e; }
    .social-media-dashboard .card .today-counter {
      text-align: center; }
      .social-media-dashboard .card .today-counter h1 {
        font-size: 50px; }
      .social-media-dashboard .card .today-counter .followers {
        text-transform: uppercase;
        letter-spacing: 2px; }
      .social-media-dashboard .card .today-counter .track-day {
        display: flex;
        margin: 15px; }
        .social-media-dashboard .card .today-counter .track-day .triangle {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 7px 7px 7px 7px;
          border-color: transparent transparent #1db489 transparent;
          margin-right: 5px; }
        .social-media-dashboard .card .today-counter .track-day p {
          color: #1db489;
          font-weight: bold;
          font-size: 12px; }
      .social-media-dashboard .card .today-counter .youtube-red .triangle {
        border-color: transparent transparent #c4032a transparent; }
      .social-media-dashboard .card .today-counter .youtube-red p {
        color: #c4032a; }
