/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/

// Colors 

$darkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

// Fonts 

$font-family-Manrope: 'Manrope', sans-serif;

